<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mCASH Gamer</title>
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.deep_orange-blue.min.css"/> -->
    <!-- <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.lime-blue.min.css" /> -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.light_green-blue.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <!-- Square card -->
    <style>
    .demo-card-square.mdl-card {
    width: 100%;
    height: 100%;
    }
    .demo-card-square > .mdl-card__title {
    color: #fff ;
    background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat rgb(244, 130 ,35);
    }
    .game-form-element{
    margin: 0 auto !important;
    width: 100% !important;
    }
    </style>
  </head>
  <body>
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text display-3">Success</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <br/>
      </div>
    </div>
  </body>
</html>